*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
/* first section header */

header{
    height: 500px;
    width:100%;
    background-image: url(./images/design-assets/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logomenu{
    display:flex;
    flex-direction: row;
    height: 50px;
    align-items: flex-start;
    width:918px;
}
.logo-name{
    justify-content: center;
    align-items: center;
    object-fit: 80px;
}

.logoname{
    display: inline-flex;
    width: 80px;
    justify-content: center;
    align-content: center;
    align-items:flex-start;
}
.menu{
    display:flex;
    color: white;
    list-style: none;
    padding-top:10px;
    gap:30px;
    font-size: 0.9rem; 
    justify-content:flex-end;
    font-family: 'Playfair Display', serif;
    width:758px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
    color: lightseagreen;
}
a:visited{
    color: aqua;
}
.description{
    width:918px;
    display: flex;
    flex-direction: column;
}
.heading{
    display:flex;
    height: 80px;
    color: white;
    text-transform:capitalize;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;

}
.lineone{
    display: flex;
    border-top: 1px solid aqua;
    width:50px;
    justify-content: center;
    align-self:center;

}
.introduction{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
button.learn{
    display:flex;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    width:fit-content;
    align-self: center;
    margin-bottom: 150px;
    font-family: 'Roboto', sans-serif;
    

}

/* second section story */

.section-two{
    display: flex;
    flex-direction: column;
    height: 300px;
}
.story{
    display: flex;
    flex-direction: row;
    width:918px;
    align-self: center;
    height: 300px;
    justify-content: flex-end;
  
}

.largelogo{
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    padding-right: 20px;
}

.longstory{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width:518px;
}

.ourstory{
    text-transform: uppercase;
    padding-top: 30px;  
    font-family: 'Playfair Display', serif;
    color: rgb(107, 107, 107);
}

.storydescription{
    color: grey;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.storydescriptiontwo{
    color: grey;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

button.learnm{
    display:flex;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    width:fit-content;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

/* third section video */


.video{
    background-image: url(./images/design-assets/bgk-middle.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.play-image{
    width: 918px;
    display: flex;
    flex-direction: column;
}
.playimage{
    margin-top: 20px;
    height: 70px;
    justify-content: center;
    align-self:center;
    
}
.watch{
    color: white;
    text-transform: uppercase;
    justify-content: center;
    align-self:center;
    padding-top:20px;
    gap:20px;
    font-family: 'Playfair Display', serif;
}

/* forth section experties */


.experties{
    display:flex;
    height:500px;
    flex-direction: column;
    width: 100%;
}

.experts{
    display: flex;
    justify-content: center;
    font-family:'Playfair Display', serif;
    padding-top: 10px;
    color: rgb(107, 107, 107);
    width: 918px;
    align-self: center;
}

.line{
    padding:0;
    color: grey;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width:918px;
}

.line-two{
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    width:50px;
    align-self:center;
}
.area-experts{
    display: flex;
    height: 400px;
    justify-content:center;
    align-self: center;
    flex-wrap: wrap;
    width:918px;
}

.topic{
    text-transform: uppercase;
    font-weight:bold;
    color: rgb(98, 98, 98);
    padding: 10px;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
}

.details{
    color: rgb(68, 67, 67);
    padding: 10px;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.web{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    flex-basis:300px;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:1;

}

.branding{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    flex-basis:300px;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:2;
}

.mob{
    border-bottom: 1px solid gray;
    flex-basis:300px;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:3;
}

.search{
    border-right: 1px solid gray;
    flex-basis:300px;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:4;
}

.game{
    border-right: 1px solid gray;
    flex-basis:300px;
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:5;
}

.love{ 
    flex-basis:300px;
    text-align: center; 
    flex-grow: 1;
    padding: 20px;
    margin: 0;
    order:6;
    
}

/* fifth section cards */


.cards{
    background-image: url(./images/design-assets/bgk-header.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
}

.amazingteam{
    width: 918px;
    display: flex;
    padding-top:30px ;
    padding-bottom: 0;
    margin-bottom: 5px;
    color: white;
    justify-content:center;
    font-family: 'Playfair Display', serif;
    align-self: center;
    text-transform: uppercase;
    

}

.linemeet{
    width: 918px;
    display: flex;
    color: white;
    justify-content:center;
    align-self: center;
 

}

.line-three{
    width: 918px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-top: 1px solid rgb(203, 201, 201);
    width: 50px;
    margin-top: 3px;
}
.photo{
    width: 918px;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
    height: 300px;
}

.photoes{
    display: flex;
    flex-direction: column;
    height: 200px;
    width:170px;
    margin: 10px;
    border: 1px solid white;
}

img.box{
    display: flex;
    height: 190px;
    width:170px;
    background-color: white;
}


.title{
    color: white;
    font-size: 0.6rem;
    width:150px;
    text-align: center;
    justify-self: flex-start;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;

}
.end{
    width: 918px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.join{
    color: white;
    padding-bottom: 20px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
button.hiring{
    display: flex;
    justify-content: center;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    width:fit-content;
    align-self:center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

/* sith section feedback */


.contact{
    border: 1px solid red;
    width: 918px;
    display: flex;
    width:100%;
    height: 500px;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.goodnews{
    display: flex;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    height: 2rem;
    padding: 2px;
}

form{
    width:200px;
}

label{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 2rem;
    padding: 2px;
}

textarea{
    border: 1px solid red;
    height: 100px;
}

button.submit{
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}


/* seventh section footer */
footer{
    background-image: url(./images/design-assets/bgk-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-origin: border-box;
    margin-top: 100px;
}

.up{
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width:918px;
    margin-top: 100px;
}

.down{
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    width:918px;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width:918px;


}
.left{
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:306px;
    

}

.right{
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:306px;
}

.middle{
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:306px;
}
label.sub{
    border: 1px solid white;
}
.news{
    border: 1px solid yellow;
    opacity: 0.2;
    background-color:rgb(215, 224, 233);
}
.address{
    width: 271px;
    height: 80px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";

}

.tele{
    width: 271px;
    height: 23px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
}
.kit{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Roboto";
}

.help{
    display:flex;
    width: 459px;
    height: 13px;
    font-size: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2rem;

}

.copy{
    display:flex;
    width: 459px;
    height: 13px;
    font-size: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}