*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* first section header */

header{
    height: 500px;
    width:100%;
    background-image: url(./images/design-assets/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logomenu{
    display:flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    width:80%;
}

.logo-name{
    display: flex;
}

.logoname{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    align-items:flex-start;
}

.menu{
    display:flex;
    color: white;
    list-style: none;
    gap:20px;
    font-size: 0.6rem; 
    justify-content:flex-end;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
    color: lightseagreen;
}
a:visited{
    color: aqua;
}
.description{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.heading{
    display:flex;
    height: 80px;
    color: white;
    text-transform:capitalize;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
}

.lineone{
    border-top: 1px solid aqua;
    width:50px;
    justify-content: center;
    align-self:center;
}

.introduction{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 0.7rem;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

button.learn{
    display:flex;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
    width:fit-content;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

/* second section story */

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 300px;
    padding-left: 100px;
}

.largelogo{
    height:200px;
    padding-top: 50px;
    padding-right: 70px;
}

.longstory{
    display: flex;
    flex-direction:column;
}

.ourstory{
    text-transform: uppercase;
    padding-top: 30px;  
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: rgb(107, 107, 107);
}

.storydescription{
    color: grey;
    height: 60px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.storydescriptiontwo{
    color: grey;
    height: 60px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

button.learnm{
    display:flex;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    width:fit-content;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
}


/* third section video */


.video{
    background-image: url(./images/design-assets/bgk-middle.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.playimage{
    height: 70px;
    justify-content: center;
    align-self:center; 
}

.watch{
    color: white;
    text-transform: uppercase;
    justify-content: center;
    align-self:center;
    padding-top:20px;
    word-spacing:5px;
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
}

/* forth section experties */


.experties{
    display:flex;
    height:500px;
    flex-direction: column;
    width: 100%;
}

.experts{
    display: flex;
    justify-content: center;
    font-family:'Playfair Display', serif;
    padding-top: 20px;
    color: rgb(107, 107, 107);
    align-self: center;
}

.line{
    padding:0;
    color: grey;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    padding-bottom: 5px;
}


.line-two{
    border-top: 1px solid gray;
    width:50px;
    display: flex;
    justify-content: center;
    align-self:center;
    float: center;
}

.area-experts{
    display: flex;
    flex-direction: row;
    align-self: center;
    width:70%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    height:350px;
    justify-content:stretch;
}

.topic{
    text-transform: uppercase;
    font-weight:bold;
    color: rgb(98, 98, 98);
    padding: 10px;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.details{
    color: rgb(68, 67, 67);
    padding: 10px;
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.web{
    border-right: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    flex-basis:250px;
    text-align: center;
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    order:1;

}

.branding{
    border-right:1px solid rgb(218, 218, 218);
    border-bottom:1px solid rgb(218, 218, 218);
    flex-basis:250px;
    text-align: center;
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    order:2;
}

.mob{
    border-bottom:1px solid rgb(218, 218, 218);
    flex-basis:250px;
    text-align: center;
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    margin: 0;
    order:3;
}

.search{
    border-right:1px solid rgb(218, 218, 218);
    flex-basis:250px;
    text-align: center;
    flex-grow: 1;
    padding: 20px 20px 0 20px;
    order:4;
}

.game{
    border-right: 1px solid rgb(218, 218, 218);
    flex-basis:250px;
    text-align: center;
    flex-grow: 1;
    padding: 20px 20px 0 20px;
    order:5;
}

.love{ 
    flex-basis:250px;
    text-align: center; 
    flex-grow: 1;
    padding: 20px 20px 0 20px;
    order:6;
    
}

/* fifth section cards */


.cards{
    background-image: url(./images/design-assets/bgk-header.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-origin: border-box;
    display: flex;
    flex-direction: column;
}

.amazingteam{
    display: flex;
    padding-top:30px ;
    padding-bottom: 0;
    margin-bottom: 5px;
    color: white;
    justify-content:center;
    font-family: 'Playfair Display', serif;
    align-self: center;
    text-transform: uppercase;
}

.linemeet{
    /* width: 918px; */
    display: flex;
    color: white;
    justify-content:center;
    align-self: center;
 

}

.line-three{
    display: flex;
    justify-content: center;
    align-self: center;
    border-top: 1px solid rgb(203, 201, 201);
    width: 50px;
    margin-top: 3px;
}
.photo{
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: center;
    height: 300px;
}

.photoes{
    display: flex;
    flex-direction: column;
    height: 200px;
    width:170px;
    margin: 10px;
    border: 1px solid white;
}

img.box{
    display: flex;
    height: 190px;
    width:170px;
    background-color: white;
}


.title{
    color: white;
    font-size: 0.6rem;
    width:150px;
    text-align: center;
    justify-self: flex-start;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;

}
.end{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.join{
    color: white;
    padding-bottom: 20px;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}
button.hiring{
    display: flex;
    justify-content: center;
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    width:fit-content;
    align-self:center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

/* sixth section feedback */
/* .contact{
    display: flex;
    width:80%;
} */
.clientfeedback{
    display: flex;
    height: 350px;
    margin-top: 20px;
    justify-content: center;
    /* width: 80%; */
}

.feedback{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.goodnews{
    display: flex;
    font-family: 'Playfair Display', serif;
    justify-content:flex-start;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
    color: grey;
    font-size: 1.1rem;
}

::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    padding: 10px 0 10px 20px;
}

input{
    font-family: 'Roboto', sans-serif;
    width:80%;
    margin-bottom: 20px;
    font-size: .0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(218, 218, 218);
}

textarea{
    height: 100px;
    width: 80%;
    border: 1px solid rgb(218, 218, 218);
}

button.submit{
    border: 1px solid aqua;
    color: aqua;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    border-top: 2px solid aqua;
    width: fit-content;
    margin-top: 20px;
}

.clients{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.happy{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: gray;
    padding-top: 30px;
    font-size: 1.1rem;
}

.clientlogo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.group-one{
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 15px;
}

img.zara{
    width: 30%;
    margin-right: 50px;
    
}

img.mango{
    width: 30%;
}

.group-two{
    display: inline-flex;
    margin-bottom: 20px;
}

img.barneys{
    width: 30%;
    height: 30px;
    margin-right:50px ;
}

img.gucci{
    width: 30%;
    height: 15px;
    align-self:flex-end;
}

.group-three{
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

img.calvin{
    width: 30%;
    height: 30px;
    margin-right:50px ;
}

img.nike{
    width: 25%;
    height: 30px;
    margin-right:50px;
}

.group-four{
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 10px;
}

img.Converse{
    width: 25%;
    height: 50px;
    margin-right:50px;
    margin-left: 10px;
}

img.puma{
    width: 25%;
    height: 30px;
    margin-left:10px;
    align-self:flex-end;
}

.group-five{
    display: inline-flex;
}

img.levi{
    width: 20%;
    height: 30px;
    margin-right:50px;
    margin-left: 10px; 
    align-self:flex-end;
}

img.bill{
    width: 25%;
    height: 50px;
    margin-right:50px;
    margin-left: 30px;
}


/* seventh section footer */

footer{
    background-image: url(./images/design-assets/bgk-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-origin: border-box;
    margin-top: 100px;
}

.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width:70%;
    margin-top: 50px;
    height: 200px;
}

.down{
    display: flex;
    justify-content: flex-start;
    width:70%;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    height: 150px;
    margin-top: 50px;
    margin-left: 100px;
}

.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:30%;
}

.logoname-two{
    display: inline-flex;
    width: 50px;
    height: 40px;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    align-items:flex-start;
}

.note{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    width:80%;
}

.middle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

.post{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.map{
    height: 20px;
}

.telephone{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-top: 10px;
}

.address{
    font-size: 0.8rem;
    color: white;
    font-family: "Roboto";
    padding-left: 15px;

}

.tele{
    font-size: 0.8rem;
    color: white;
    font-family: "Roboto";
    padding-left: 15px;
}

.right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
}

.social{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
}
label.sub{
    border: 1px solid white;
    width: 80%;
    text-align: center;
    padding: 5px;   
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.news{
    background-color:white;
    opacity: 0.5;
    margin-left: 10px;
    width: 20%;
    height: 30px;
}

.kit{
    font-size: 0.8rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.socialme{
    width:90%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.help{
    display:flex;
    height: 13px;
    font-size: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}
    

span{
    display: inline;
    margin-right: 50px;
    text-transform: uppercase;
}

.copy{
    display:flex;
    height: 13px;
    font-size: 0.8rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* media quaries */


/* large screens and desktops */
  @media only screen and (max-width: 1200px) {
    body {
      /* background-color: rgb(246, 225, 64); */
    }
  }
  
  /* laptops and small screens*/
  @media only screen and (max-width: 1024px) {
    body {
      /* background-color: rgb(233, 42, 42); */
    }
  }

  /* tablets */
  @media only screen and (max-width: 768px) {
    body {
      /* background-color: rgb(17, 251, 56); */
    }
  }

  /* mobiles */
  @media only screen and (max-width: 480px) {
    body {
        /* background-color: rgb(25, 111, 217); */
      }
    
    .logomenu{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
    }

    
    .menu{
        display:flex;
        flex-direction: column;
    }
    .description{
        width:80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }

    }
